.lyricsPage {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background: var(--color-body-bg);
    display: flex;
    clip: rect(auto, auto, auto, auto);
}


.lyricsPage.no-lyric {
    .left-side {
        transition: all 0.5s;
        transform: translateX(27vh);
        margin-right: 0;
    }
}

:global {
    .gradient-background {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    .lyrics-background {
        --contrast-lyrics-background: 75%;
        --brightness-lyrics-background: 150%;
    }

    [data-theme='dark'] .lyrics-background {
        --contrast-lyrics-background: 125%;
        --brightness-lyrics-background: 50%;
    }
}

.leftSide {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
    margin-top: 24px;
    align-items: center;
    transition: all 0.5s;

    z-index: 1;

    @media (max-aspect-ratio: 10/9) {
        display: none;
    }

    :global {
        .date {
            max-width: 54vh;
            margin: 24px 0;
            color: var(--color-text);
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            opacity: 0.88;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

        .controls {
            max-width: 54vh;
            margin-top: 24px;
            color: var(--color-text);

            .title {
                margin-top: 8px;
                font-size: 1.4rem;
                font-weight: 600;
                opacity: 0.88;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }

            .subtitle {
                margin-top: 4px;
                font-size: 1rem;
                opacity: 0.58;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }

            .top-part {
                display: flex;
                justify-content: space-between;

                .top-right {
                    display: flex;
                    justify-content: space-between;

                    .volume-control {
                        margin: 0 10px;
                        display: flex;
                        align-items: center;

                        .volume-bar {
                            width: 84px;
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;

                        button {
                            margin: 0 0 0 4px;
                        }

                        .svg-icon {
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }

            .progress-bar {
                margin-top: 22px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .time {
                    min-width: 30px;
                }

                .slider {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                }
            }

            .media-controls {
                display: flex;
                justify-content: center;
                margin-top: 18px;
                align-items: center;

                button {
                    margin: 0;
                }

                .svg-icon {
                    opacity: 0.38;
                    height: 14px;
                    width: 14px;
                }

                .active .svg-icon {
                    opacity: 0.88;
                }

                .middle {
                    padding: 0 16px;
                    display: flex;
                    align-items: center;

                    button {
                        margin: 0 8px;
                    }

                    button#play .svg-icon {
                        height: 28px;
                        width: 28px;
                        padding: 2px;
                    }

                    .svg-icon {
                        opacity: 0.88;
                        height: 22px;
                        width: 22px;
                    }
                }

                .lyric-switch-icon {
                    color: var(--color-text);
                    font-size: 14px;
                    line-height: 14px;
                    opacity: 0.88;
                }
            }
        }
    }
}


.cover {
    position: relative;

    :global {
        .cover-container {
            position: relative;
        }

        img {
            border-radius: 0.75em;
            width: 54vh;
            height: 54vh;
            user-select: none;
            object-fit: cover;
        }

        .shadow {
            position: absolute;
            top: 12px;
            height: 54vh;
            width: 54vh;
            filter: blur(16px) opacity(0.6);
            transform: scale(0.92, 0.96);
            z-index: -1;
            background-size: cover;
            border-radius: 0.75em;
        }
    }
}

.rightSide {
    flex: 1;
    font-weight: 600;
    color: var(--color-text);
    margin-right: 24px;
    z-index: 0;

    :global {
        .lyrics-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 78px;
            max-width: 460px;
            overflow-y: auto;
            transition: 0.5s;
            scrollbar-width: none; // firefox

            .line {
                margin: 2px 0;
                padding: 12px 18px;
                transition: 0.5s;
                border-radius: 12px;

                &:hover {
                    background: var(--color-secondary-bg-for-transparent);
                }

                .content {
                    transform-origin: center left;
                    transform: scale(0.95);
                    transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                    span {
                        opacity: 0.28;
                        cursor: default;
                        font-size: 1em;
                        transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    }

                    span.translation {
                        opacity: 0.2;
                        font-size: 0.925em;
                    }
                }
            }

            .line#line-1:hover {
                background: unset;
            }

            .translation {
                margin-top: 0.1em;
            }

            .highlight div.content {
                transform: scale(1);

                span {
                    opacity: 0.98;
                    display: inline-block;
                }

                span.translation {
                    opacity: 0.65;
                }
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .lyrics-container .line:first-child {
            margin-top: 50vh;
        }

        .lyrics-container .line:last-child {
            margin-bottom: calc(50vh - 128px);
        }

        @media (max-aspect-ratio: 10/9) {
            .lyrics-container {
                max-width: 100%;
            }
        }

        @media screen and (min-width:1200Px) {
            .lyrics-container {
                max-width: 600px;
            }
        }
    }
}

.closeButton {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 300;
    border-radius: 0.75rem;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.28;
    transition: 0.2s;
    -webkit-app-region: no-drag;

    :global {
        .svg-icon {
            color: var(--color-text);
            padding-top: 5px;
            height: 22px;
            width: 22px;
        }
    }

    &:hover {
        background: var(--color-secondary-bg-for-transparent);
        opacity: 0.88;
    }
}

:global {

    .lyric-slide-fade-enter {
        transform: translateX(0);
    }

    .lyric-slide-fade-enter-active {
        transform: translateX(27vh);
        transition: transform 0.5s ease;
    }

    .lyric-slide-fade-exit-active {
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(0.2, 0.2, 0, 1);
    }
}