.fm {
    padding: 1rem;
    background: var(--color-secondary-bg);
    border-radius: 1rem;
    display: flex;
    height: 198px;
    box-sizing: border-box;

    :global {
        .cover {
            height: 100%;
            clip-path: border-box;
            border-radius: 0.75rem;
            margin-right: 1.2rem;
            cursor: pointer;
            user-select: none;
        }
    }
}

.rightRart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-text);
    width: 100%;

    :global {
        .title {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 0.6rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            word-break: break-all;
        }

        .artist {
            opacity: 0.68;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            word-break: break-all;
        }

        .controls {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-left: -0.4rem;

            .buttons {
                display: flex;
            }

            .button-icon {
                margin: 0 8px 0 0;
            }

            .svg-icon {
                width: 24px;
                height: 24px;
            }

            .svg-icon#thumbs-down {
                width: 22px;
                height: 22px;
            }

            .card-name {
                font-size: 1rem;
                opacity: 0.18;
                display: flex;
                align-items: center;
                font-weight: 600;
                user-select: none;

                .svg-icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 6px;
                }
            }
        }
    }
}